<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Estoque</th>
        </tr>    
        {% for Produto in produtos %}
        <tr>
            <td>{{produto.nome}}</td>
            <td>{{produto.preco}}</td>
            <td>{{produto.estoque}}</td>
           
        </tr>
   {% endfor %}
    </table>
</body>
</html>